<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
              <ion-input type="text" [(ngModel)]="username" name="username" placeholder="Username" type="text" required ></ion-input>
            <!-- <ion-input placeholder="Username" name="username" id="loginField" type="text" required [(ngModel)]="username" #username></ion-input> -->
          </ion-item>
          <ion-item>
              <ion-input [(ngModel)]="password" name="password" placeholder="Password" type="password" required ></ion-input>
            <!-- <ion-input placeholder="Password" name="password" id="passwordField" type="password" required [(ngModel)]="password"></ion-input> -->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>