<ion-header>
  <ion-navbar>
    <button ion-button (click)="goBack()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <ion-title>{{OrderId}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-slides>
      <ion-slide *ngFor="let image of orderImages; let i=index">
        <h1>Image {{i+1}}</h1>
        <ion-img width="300" height="300" src={{image}} cache="true"></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-item>
  <ion-item>
    <!-- <button color="primary">
        <ion-icon name="md-remove">Remove Image</ion-icon>        
    </button> -->
    <button color="secondary" (click)="getImage('camera')">
        <ion-icon name="md-camera">Add Image</ion-icon>        
    </button>
    <button color="secondary" (click)="getImage('gallery')">
      <ion-icon name="md-images" >Open Gallery</ion-icon>        
  </button>
  </ion-item>
</ion-content>
