<ion-header>
  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!showLoadingText">
  <ion-list>
    <button [color]="item.album ? 'secondary' : 'danger'" ion-item *ngFor="let item of tempOrders" (click)="itemTapped($event, item)">
      OrderId: {{item.clientOrderId}}
      <!-- <div class="item-note" item-end>
        {{item.note}}
      </div> -->
    </button>
  </ion-list>
</ion-content>

<ion-content *ngIf="showLoadingText">
  Loading Orders please wait..!
</ion-content>
  