<!--
  Generated template for the UploadImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>upload-image</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label stacked>Tracking Id</ion-label>
    <ion-input placeholder="please provide tracking id to upload image" [(ngModel)]="trackingId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Order Id</ion-label>
    <ion-input placeholder="please provide order id to upload image" [(ngModel)]="orderId"></ion-input>
  </ion-item>


  <ion-item>
    <button ion-button color="secondary" (click)="getImage()">Take Image</button>
  </ion-item>

  <ion-item>
    <button ion-button color="secondary" *ngIf="showReset" (click)="reset()">Reset</button>
  </ion-item>
  
  <!-- <ion-item>
    <input type="file" (change)="getFileFromDevice($event)"/>
  </ion-item> -->
  
  <h3>{{imageData}}</h3>
  <ion-item *ngIf="imagePreview">
    <h4 ion-text color="secondary">Image Preview</h4>
    <img src="{{imagePreview}}" alt="Ionic File" width="300" />
  </ion-item>
  
  <progress-bar *ngIf="showProgressBar" [progress]="loadProgress"></progress-bar>

  <button ion-button block color="secondary" [attr.disabled]= "!showUploadButton? true:null" (click)="uploadFile()">Upload</button>

</ion-content>
